[flake8]
max-line-length = 140
extend-ignore = E127,E203,E302,E303,E402,E501,W293,W391,W503
exclude =
    .git,
    .venv,
    .venv-1,
    .venv-2,
    __pycache__,
    frontend,
    instance,
    alembic/versions
